/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #444;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2em;
    margin-bottom: 0.4em;
}
h3 {
    font-size: 1.3em;
    margin-bottom: 0.3em;
}

/* Header Styles */
header {
    background-color: #007acc;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    color: #fff;
}

header p {
    margin-top: 10px;
}

/* Section Styles */
section {
    margin: 20px 0;
}

section#about p, section#portfolio .project p {
    margin-top: 10px;
}

section#skills ul {
    margin-left: 20px;
}

/* Portfolio Section */
#portfolio h2, h3 {
    color: #007acc;
}

#portfolio a {
    text-decoration: none;
}

.portfolio-note {
    margin-top: 15px;
    font-style: italic;
    color: #555;
}

.project {
    background-color: #f4f4f4;
    padding: 10px 15px;
    margin-top: 10px;
    border-left: 4px solid #007acc;
}

.project a {
    margin-left: 5px;
    color: #007acc;
    text-decoration: none;
}

.project a:hover {
    color: #009900;
}

.project a span {
    text-decoration: underline;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 5px;
}

.project-tech li {
    background-color: #e0f2f7;
    color: #0d47a1;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block; /* Necessary for applying padding and border-radius correctly */
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Subtle shadow */
}

.project-description {
    padding-left: 20px;
    margin: 0 5px;
}

/* Contact Styles */
#contact h2, h3 {
    color: #007acc;
}

#contact a {
    color: #007acc;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 0.9em;
    margin-top: 20px;
}
