/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #444;
}

/* Header Styles */
header {
    background-color: #007acc;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #fff;
}

header p {
    margin-top: 10px;
}

/* Section Styles */
section {
    margin: 20px 0;
}

section#about p, section#portfolio .project p {
    margin-top: 10px;
}

/* Portfolio Section */
#portfolio .project {
    background-color: #f4f4f4;
    padding: 15px;
    margin-top: 10px;
    border-left: 4px solid #007acc;
}

section#skills ul {
    margin-left: 20px;
}

.project h3 a {
    margin-left: 5px;
    color: #007acc;
    text-decoration: none;
}
.project h3 a:hover {
    color: #005999;
}

.portfolio-note {
    margin-top: 15px;
    font-style: italic;
    color: #555;
}

.tech-list {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 10px; /* Spacing between items */
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 5px 0;
}

.tech-list li {
    background-color: #e0f2f7; /* Light blue background */
    color: #0d47a1; /* Dark blue text */
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block; /* Necessary for applying padding and border-radius correctly */
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Subtle shadow */
}

/* Contact Styles */
#contact a {
    color: #007acc;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 0.9em;
    margin-top: 20px;
}
